# Editor-specifika filer
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store


build/


# Kompilerade filer
*.o
*.obj
*.exe
*.out
*.app
*.so
*.dylib
*.dll
*.a
*.lib

# Exekverbara filer (lägg till ditt projektnamn)
Graph_sim_enviroment
Graph_sim_enviroment.exe

# Debug-filer
*.dSYM/
*.pdb
*.ilk


# Valgrind/profiling
*.log
vgcore.*
callgrind.out.*
massif.out.*

# OS-specifika
Thumbs.db
*.stackdump

# Backup-filer
*.bak
*.backup
*~